body{
    background: rgb(140, 17, 190);
}
.pag1{
    margin-left: 130px;
    margin-top: 250px;
    
}
.pag2{
    margin-left: 30px;
    margin-top: 10px;
    
}
.inp{
    height: 45px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.but{
    height: 35px;
    width: 355px;
    border-radius: 5px;
    background-color: rgb(163, 40, 214);
}
.text{
    margin-top:10px;
    margin-left:80px;
    color:white;
}
.logo{
    margin-left: 130px;
    margin-top: 200px;
}
.nome{
    color:white;
    font-size: 30px;
}
.inicionome{
    margin-left: 20px;
    margin-top: 20px;
}
.caixa{
    margin-left: 20px;
    margin-top: 20px;
    height: 400px;
    width: 350px;
    background: white;
}
.caixas{
    margin-left: 20px;
    margin-top: 20px;
    display:flex;

}
.box{
    background-color: rgb(163, 40, 214);
    height: 174px;
    width: 174px;
    margin-right: 10px;
}
.inp2{
    height: 45px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
.but2{
    height: 35px;
    width: 355px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(163, 40, 214);
}